.App .App-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App .App-header {
  padding: 200px;
  padding-left: 100px;
}

.App h1 {
  font-size: 50px;
  color: white;
}

.App h2 {
  color: white;
  font-size: 20px;
}
